<ion-content>
    <div class="container-fluid">
      <h1 calss="text-center">{{title}}</h1>
      <div class="row" *ngFor="let friend of friends">
          <div class="col-4"><div class="profileImage">
            <img src="http://192.168.1.8/mediaApp-BackEnd/uploads/ProfileImages/{{friend.profileImage}}" alt="nu ete" >
          </div></div>
          <div class="col-5 profile-area" (click)="exploreUser(friend.name)">
              <h4 class="text-center">{{friend.name}}</h4>
              <h6 class="text-center">from: {{friend.country}}</h6>
          </div>
          <div class="col-3">
            <button *ngIf="!friend.friend" class="btn btn-primary" (click) = addFriend(friend)>add</button>
            <button *ngIf="friend.friend" class="btn btn-danger" (click)="removeFriend(friend)">remove</button>
          </div>
      </div>
  </div>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadUsers($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
    </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>