
 .FieldStars{
     display: inline-block;
     margin-left: 20px;
 }

 .rate{
     display: inline-block;
     margin-left: 10px;
 }
//  .comments{
//      height: 40px;
//      overflow: scroll;
//  }
